services:
  zerotier:
    image: zerotier/zerotier:latest
    container_name: minecraft-zerotier
    devices:
      - /dev/net/tun
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./zerotier-data:/var/lib/zerotier-one

  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    network_mode: host
    tty: true
    stdin_open: true
    environment:
      EULA: true
      TYPE: FABRIC
      MAX_MEMORY: 2G
      MAX_PLAYERS: 10
      MOTD: "14 days of gameplay"
      ICON: /icon.png
      OVERRIDE_ICON: true
      ONLINE_MODE: false
      USE_AIKAR_FLAGS: true
      DIFFICULTY: 2
    volumes:
      - ./icon.png:/icon.png
      - ./minecraft-data:/data
    depends_on:
      - zerotier
