services:
  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft-server
    network_mode: host
    tty: true
    stdin_open: true
    environment:
      EULA: true
      TYPE: FABRIC
      MEMORY: 4G
      MAX_PLAYERS: 8
      MOTD: Minecraft Server
      ICON: https://placehold.co/600x400
      OVERRIDE_ICON: true
      ONLINE_MODE: false
      USE_AIKAR_FLAGS: true
      VERSION: 1.21.10
      DIFFICULTY: hard
      MODRINTH_PROJECTS: |
        fabric-api
        c2me-fabric
        chunky
        fallingtree
        ferrite-core
        krypton
        lithium
        spark
        veinminer
    volumes:
      - ./minecraft-data:/data
