services:
  zerotier:
    image: zerotier/zerotier:latest
    container_name: minecraft-zerotier
    devices:
      - /dev/net/tun
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./zerotier-data:/var/lib/zerotier-one

  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    network_mode: host
    tty: true
    stdin_open: true
    environment:
      EULA: true
      TYPE: FABRIC
      MEMORY: 2G
      MAX_PLAYERS: 10
      MOTD: 14 days of gameplay
      ICON: /data/icon.png
      OVERRIDE_ICON: true
      ONLINE_MODE: false
      USE_AIKAR_FLAGS: true
      DIFFICULTY: normal
      RESOURCE_PACK: /data/ftf-pack.zip
      RESOURCE_PACK_ENFORCE: true
      MODRINTH_PROJECTS: |
        fabric-api
        chunky
        cloth-config
        fabric-language-kotlin
        fallingtree
        from-the-fog
        silk
        skinsrestorer
        veinminer
    volumes:
      - ./minecraft-data:/data
    depends_on:
      - zerotier
