services:
  zerotier:
    image: zerotier/zerotier:latest
    container_name: minecraft-zerotier
    devices:
      - /dev/net/tun
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./zerotier-data:/var/lib/zerotier-one

  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    network_mode: host
    tty: true
    stdin_open: true
    environment:
      EULA: true
      TYPE: FABRIC
      MEMORY: 3G
      MAX_PLAYERS: 10
      MOTD: 14 dias de gameplay
      ICON: /icon.png
      OVERRIDE_ICON: true
      ONLINE_MODE: false
      USE_AIKAR_FLAGS: true
      DIFFICULTY: normal
      SEED: "694821082227154559"
      RESOURCE_PACK: https://cdn.modrinth.com/data/p1WH6sHr/versions/Tg5fQtVU/From-The-Fog-Data-Resource-Pack-1.21.9-1.21.10-v1.11.2.zip
      RESOURCE_PACK_ENFORCE: true
      MODRINTH_PROJECTS: |
        fabric-api
        chunky
        cloth-config
        fabric-language-kotlin
        fallingtree
        from-the-fog
        silk
        skinsrestorer
        veinminer
    volumes:
      - ./icon.png:/icon.png
      - ./minecraft-data:/data
    depends_on:
      - zerotier
